/* TODO: Add sitewide styles */
h1 {
    font-size: x-large;
    color: firebrick;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-error {
    color:red;
    font-weight: lighter;
    font-style: italic;
    background-color: antiquewhite;
}
